::-webkit-scrollbar {
  display: none;
}

body {
  background-color: transparent;
}

.app {
  height: 100vh;
  background-color: transparent;
  display: flex;      
  flex-direction: column;
}

.center {  
  align-items: center;  
}

.hidden-tweet {
  opacity: 0;
  height: 0;
  width: 0;
}