body {
  background-color: black;
}

.app {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tweet-wrapper {
  width: 550px;
}